.product-in-cart-left img {
  width: 100px;
  border-radius: 10px;
}
.product-in-cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  margin: auto;
  background-color: lightskyblue;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-info p {
  margin: 0;
  padding: 0;
}
.product-info {
  margin: 50px 5px;
}
.removeFrom {
  position: relative;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
}
.removeFrom:active {
  opacity: 50%;
}
.product-in-cart-left {
  display: flex;
  overflow: hidden;
}
.product-in-cart-right {
  display: flex;
}
.product-in-cart-right > div {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  gap: 10px;
}
.quantity > label {
  padding: 10px 0;
}
.product-in-cart-right p {
  margin: 0;
  padding: 10px 0;
}
.removeFromCartbtn {
  height: 20px;
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

.cart-item {
  width: 100%;
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin-top: 50px;
  overflow: auto;
  margin: 0;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  text-align: center;
  background-color: rgb(228, 24, 10);
  border-radius: 20px;
  box-shadow: 0 0 15px gray;
  margin-top: 30px;
  color: white;
}

.empty-cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.empty-cart p {
  width: 60%;
}
@media (max-width: 768px) {
  .product-in-cart {
    display: block;
    width: 70%;
    height: auto;
  }
  .product-in-cart-left {
    display: block;
  }
  .product-in-cart-right {
    display: block;
  }
  .product-in-cart-right > div {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 0;
    margin: auto;
    justify-content: center;
  }
  .removeFromCartbtn {
    width: 40%;
    margin: auto;
    font-size: 30px;
    height: 40px;
    margin-top: 20px;
  }
  .quantity {
    width: 200px !important;
    margin: auto;
    padding: 20px;
  }
  .product-in-cart-left img {
    width: 300px;
    border-radius: 10px;
  }
}
