.add-to-cart {
  font-size: 25px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: lightseagreen;
  border: none;
  width: 60%;
}
.add-to-cart:active {
  opacity: 50%;
}
.price {
  color: rgb(255, 226, 3);
  font-weight: bold;
  font-size: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  max-width: 1400px;
  padding-top: 50px;
  justify-content: center;
}
.image-container img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.image-container img:hover {
  transform: scale(1.2);
  transition: ease 1s;
}
.image-container {
  width: 400px;
  height: 550px;
  border-radius: 10px;
  margin: auto;
  background-color: white;
}
.productName {
  font-size: 20px;
  color: dod;
}
.imagediv {
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}
